/*
*	@author Ilona Bozhe (github.com/warmte)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body {
    background: #141414;
}

body, input, textarea, select {
    font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
    font-size: 12pt;
    line-height: 1.75em;
    color: #3d3d3d;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0.5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

strong, b {
    font-weight: bold;
    color: #000000;
}

em, i {
    font-style: italic;
}

a {
    text-decoration: underline;
    color: #272727;
}

a:hover {
    text-decoration: none;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr {
    border: 0;
    border-top: solid 1px #ddd;
}

blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p, ul, ol, dl, table {
    margin-bottom: 1em;
}

footer {
    margin-top: 1em;
}

br.clear {
    clear: both;
}

/* Images */

.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
    border-radius: 5px;
}

.image.full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 0 2em 0;
}

.image.centered img {
    margin: 0 auto;
    width: auto;
}

/* Lists */

ul.default {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.default li {
    padding: 0.6em 0;
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, .1);
}

ul.default li:first-child {
    padding-top: 0;
    border-top: none;
}

ul.default a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}

ul.default a:hover {
    text-decoration: underline;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
    position: relative;
    background: #13102E url(banner.jpg) no-repeat;
    background-size: cover;
}

#logo span {
    font-family: 'Arimo', sans-serif;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
    position: relative;
    background: #333;
    color: #fff;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
    position: relative;
    background: #fff;
}


/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    position: relative;
    background: #1d1d1d;
}

#footer h2 {
    display: block;
    color: #FFF;
}

.fa, .fa::before {
    text-align: center;
}

#footer {
    position: relative;
    padding-top: 2em;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(255, 255, 255, .2);
}

#footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, .3);
}

#footer .container {
    margin-bottom: 2em;
}

#footer .fa:hover {
    color: #f0f0f0;
}

#footer header {
    padding-bottom: 1em;
}

#footer .container p {
    font-size: 0.8em;
    color: #4b4b4b;
}
