/*
*	@author Ilona Bozhe (github.com/warmte)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 10.5pt;
	}

