/*
*	@author Ilona Bozhe (github.com/warmte)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body, input, textarea, select {
    line-height: 1.75em;
    font-size: 10.5pt;
    letter-spacing: 0;
}

h2, h3, h4, h5, h6 {
    font-size: 1.5em;
}

.container {
    padding: 0 2em;
}

.button {
    display: block;
    text-align: center;
}

/*********************************************************************************/
/* UI                                                                            */
/*********************************************************************************/

#titleBar {
    background: none;
}

#titleBar .title {
    display: none;
    color: #fff;
    text-align: center;
    line-height: 44px;
}

#titleBar .toggle:before {
    content: '';
    display: block;
    width: 60px;
    height: 44px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    position: absolute;
    left: 5px;
    top: 5px;
}

#titleBar .toggle:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 25px;
    top: 20px;
    background: url('images/mobileUI-site-nav-opener-bg.svg') 0 0 no-repeat;
    opacity: 0.50;
}

#titleBar .toggle:active:after {
    opacity: 0.5;
}

#navPanel {
    background: #111111;
}

#navPanel .link {
    display: block;
    color: #888;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    border-top: solid 1px #1b1b1b;
    padding: 0 1em 0 1em;
    font-size: 1.5em;
}

#navPanel .link:first-child {
    border-top: 0;
}

#navPanel .link.depth-0 {
    color: #fff;
    margin: 0 0 0.9em;
    padding-top: 0.5em;
}

#navPanel .indent-1 {
    display: inline-block;
    width: 1em;
}

#navPanel .indent-2 {
    display: inline-block;
    width: 2em;
}

#navPanel .indent-3 {
    display: inline-block;
    width: 3em;
}

#navPanel .indent-4 {
    display: inline-block;
    width: 4em;
}

#navPanel .indent-5 {
    display: inline-block;
    width: 5em;
}

#navPanel .depth-0 {
    color: #fff;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
    padding: 4em 0 4em 0;
    text-align: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
    margin-bottom: 3em;
}

#logo h1 {
    color: #FFF;
}

#logo h1 a {
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 900;
    color: #FFF;
}

#logo span {
    display: block;
    padding-top: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1em;
    color: rgba(255, 255, 255, .6);
}

#nav {
    display: none;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#content header {
    margin-bottom: 2em;
}

#content header h2 {
    line-height: 1em;
    font-size: 1.8em;
}

#content header .byline {
    line-height: 1.5em;
    font-size: 1.3em;
}

#sidebar h2 {
    display: block;
    padding-bottom: 1em;
    font-size: 1.4em;
}


/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured {
    padding: 4em 0 4em 0;
}

#blog-post {
    padding-bottom: 4em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    padding: 4em 0 2em 0;
}

#footer h2 {
    padding-bottom: 2em;
    font-size: 1.4em;
}

.fa, .fa::before {
    font-size: 180%;
    padding: 0 5%;
}

/*********************************************************************************/
/* Post                                                                          */
/*********************************************************************************/

.post-section {
    margin: 0 auto;
    width: 86%;
}

.post-text {
    font-size: 1.15em;
}

.languages {
    width: 0;
}

.languages button {
    transform: translateX(-1.5em) translateY(-2em);
}

.languages img {
    height: 2em;
}